{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Home</title>
  </head>
  <body>
    <h1>Home — Image Display</h1>
    <p>This image is served from the app static files: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJn66eeYakb13gDeYCPKWs2qYdYEK4KBtI4c/J+eQcK8 github-actions
        -----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACCZ+unnmGpG9d4A3mAjylrNqmHWBCuCgbSOHPyfnkHCvAAAAJhezzuTXs87
kwAAAAtzc2gtZWQyNTUxOQAAACCZ+unnmGpG9d4A3mAjylrNqmHWBCuCgbSOHPyfnkHCvA
AAAEBlbijg4fjPeR8Izw0aqP2kZYhBxhfj/sFQSSISMMq7qZn66eeYakb13gDeYCPKWs2q
YdYEK4KBtI4c/J+eQcK8AAAADmdpdGh1Yi1hY3Rpb25zAQIDBAUGBw==
-----END OPENSSH PRIVATE KEY-----
    </p>
    <img src="{% static 'T_CICD_app/images/django_image.png' %}" alt="Sample image" style="max-width:100%;height:auto;" />
  </body>
</html>
