[Unit]
Description=gunicorn daemon for T_CICD_Pipeline
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/django_app
ExecStart=/var/www/django_app/CICD-PipeLine_env/bin/gunicorn \
          T_CICD_Pipeline.wsgi:application \
          --workers 3 \
          --bind unix:/var/www/django_app/gunicorn.sock

[Install]
WantedBy=multi-user.target
